In [1]:
import numpy as np
import sklearn
import pandas as pd

In [31]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn import tree
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_recall_fscore_support

In [2]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/semeion/semeion.data', delimiter=r"\s+",
                header=None)

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,256,257,258,259,260,261,262,263,264,265
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1,0,0,0,0,0,0,0,0,0
1,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1,0,0,0,0,0,0,0,0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1,0,0,0,0,0,0,0,0,0
3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1,0,0,0,0,0,0,0,0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1,0,0,0,0,0,0,0,0,0

In [4]:
df.shape

(1593, 266)

In [5]:
X = pd.DataFrame(df)

In [6]:
X = X.drop([256, 257, 258, 259, 260, 261, 262, 262, 263, 264, 265], axis =1)

In [7]:
type(X)

pandas.core.frame.DataFrame

In [8]:
X.shape

(1593, 256)

In [9]:
label_df = pd.DataFrame(df.iloc[:,[256, 257, 258, 259, 260, 261, 262, 262, 263, 264, 265]])

In [10]:
label_df.shape

(1593, 11)

In [11]:
label_df.head()

   256  257  258  259  260  261  262  262  263  264  265
0    1    0    0    0    0    0    0    0    0    0    0
1    1    0    0    0    0    0    0    0    0    0    0
2    1    0    0    0    0    0    0    0    0    0    0
3    1    0    0    0    0    0    0    0    0    0    0
4    1    0    0    0    0    0    0    0    0    0    0

In [13]:
label_df.rename(columns={256:0, 257:1, 258:2, 259:3, 260:4, 261:5, 262:6, 263:7, 264:8, 265:9}, inplace = True)

In [14]:
label_df.head()

   0  1  2  3  4  5  6  6  7  8  9
0  1  0  0  0  0  0  0  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0  0
2  1  0  0  0  0  0  0  0  0  0  0
3  1  0  0  0  0  0  0  0  0  0  0
4  1  0  0  0  0  0  0  0  0  0  0

In [15]:
label_df["y"] = label_df.apply(lambda x: label_df.columns[x.argmax()], axis = 1label_df)

In [16]:
label_df.head()

   0  1  2  3  4  5  6  6  7  8  9  y
0  1  0  0  0  0  0  0  0  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0  0  0
2  1  0  0  0  0  0  0  0  0  0  0  0
3  1  0  0  0  0  0  0  0  0  0  0  0
4  1  0  0  0  0  0  0  0  0  0  0  0

In [17]:
label_df.tail()

      0  1  2  3  4  5  6  6  7  8  9  y
1588  0  0  0  0  0  0  0  0  0  0  1  8
1589  0  0  0  0  0  0  0  0  0  0  1  8
1590  0  0  0  0  0  0  0  0  0  0  1  8
1591  0  0  0  0  0  0  0  0  0  0  1  8
1592  0  0  0  0  0  0  0  0  0  0  1  8

In [19]:
y = label_df["y"]

In [20]:
type(y)

pandas.core.series.Series

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.05, random_state = 5)

In [24]:
X_train.shape

(1513, 256)

In [25]:
X_test.shape

(80, 256)

In [26]:
y_train.shape

(1513L,)

In [27]:
y_test.shape

(80L,)

In [32]:
clf_knn = KNeighborsClassifier()

In [36]:
k_range = range(1, 6)

In [37]:
knn_weight_options = ["uniform", "distance"]

In [38]:
knn_algorithm_options = ["ball_tree", "kd_tree", "brute"]

In [39]:
knn_params = {"n_neighbors":k_range, "weights":knn_weight_options, "algorithm":knn_algorithm_options}

In [43]:
knn_grid = GridSearchCV(clf_knn, knn_params, cv = 10, scoring = "accuracy")

In [44]:
knn_grid.fit(X, y)

GridSearchCV(cv=10, error_score='raise',
       estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform'),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'n_neighbors': [1, 2, 3, 4, 5], 'weights': ['uniform', 'distance'], 'algorithm': ['ball_tree', 'kd_tree', 'brute']},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring='accuracy', verbose=0)

In [45]:
knn_grid.grid_scores_

C:\Users\Aparty\Anaconda2\lib\site-packages\sklearn\model_selection\_search.py:747: DeprecationWarning: The grid_scores_ attribute was deprecated in version 0.18 in favor of the more elaborate cv_results_ attribute. The grid_scores_ attribute will not be available from 0.20
  DeprecationWarning)

[mean: 0.91588, std: 0.02146, params: {'n_neighbors': 1, 'weights': 'uniform', 'algorithm': 'ball_tree'},
 mean: 0.91588, std: 0.02146, params: {'n_neighbors': 1, 'weights': 'distance', 'algorithm': 'ball_tree'},
 mean: 0.88073, std: 0.01946, params: {'n_neighbors': 2, 'weights': 'uniform', 'algorithm': 'ball_tree'},
 mean: 0.91463, std: 0.01848, params: {'n_neighbors': 2, 'weights': 'distance', 'algorithm': 'ball_tree'},
 mean: 0.90521, std: 0.01847, params: {'n_neighbors': 3, 'weights': 'uniform', 'algorithm': 'ball_tree'},
 mean: 0.91463, std: 0.01787, params: {'n_neighbors': 3, 'weights': 'distance', 'algorithm': 'ball_tree'},
 mean: 0.90395, std: 0.01722, params: {'n_neighbors': 4, 'weights': 'uniform', 'algorithm': 'ball_tree'},
 mean: 0.91839, std: 0.01458, params: {'n_neighbors': 4, 'weights': 'distance', 'algorithm': 'ball_tree'},
 mean: 0.90395, std: 0.01991, params: {'n_neighbors': 5, 'weights': 'uniform', 'algorithm': 'ball_tree'},
 mean: 0.91525, std: 0.01855, params: {'n_neighbors': 5, 'weights': 'distance', 'algorithm': 'ball_tree'},
 mean: 0.91651, std: 0.02105, params: {'n_neighbors': 1, 'weights': 'uniform', 'algorithm': 'kd_tree'},
 mean: 0.91651, std: 0.02105, params: {'n_neighbors': 1, 'weights': 'distance', 'algorithm': 'kd_tree'},
 mean: 0.88136, std: 0.01917, params: {'n_neighbors': 2, 'weights': 'uniform', 'algorithm': 'kd_tree'},
 mean: 0.91463, std: 0.01848, params: {'n_neighbors': 2, 'weights': 'distance', 'algorithm': 'kd_tree'},
 mean: 0.90395, std: 0.01878, params: {'n_neighbors': 3, 'weights': 'uniform', 'algorithm': 'kd_tree'},
 mean: 0.91400, std: 0.01716, params: {'n_neighbors': 3, 'weights': 'distance', 'algorithm': 'kd_tree'},
 mean: 0.90270, std: 0.01745, params: {'n_neighbors': 4, 'weights': 'uniform', 'algorithm': 'kd_tree'},
 mean: 0.91839, std: 0.01458, params: {'n_neighbors': 4, 'weights': 'distance', 'algorithm': 'kd_tree'},
 mean: 0.90395, std: 0.01991, params: {'n_neighbors': 5, 'weights': 'uniform', 'algorithm': 'kd_tree'},
 mean: 0.91525, std: 0.01855, params: {'n_neighbors': 5, 'weights': 'distance', 'algorithm': 'kd_tree'},
 mean: 0.91714, std: 0.02065, params: {'n_neighbors': 1, 'weights': 'uniform', 'algorithm': 'brute'},
 mean: 0.91714, std: 0.02065, params: {'n_neighbors': 1, 'weights': 'distance', 'algorithm': 'brute'},
 mean: 0.88073, std: 0.02047, params: {'n_neighbors': 2, 'weights': 'uniform', 'algorithm': 'brute'},
 mean: 0.91400, std: 0.01906, params: {'n_neighbors': 2, 'weights': 'distance', 'algorithm': 'brute'},
 mean: 0.90458, std: 0.01956, params: {'n_neighbors': 3, 'weights': 'uniform', 'algorithm': 'brute'},
 mean: 0.91463, std: 0.01809, params: {'n_neighbors': 3, 'weights': 'distance', 'algorithm': 'brute'},
 mean: 0.90521, std: 0.01676, params: {'n_neighbors': 4, 'weights': 'uniform', 'algorithm': 'brute'},
 mean: 0.91839, std: 0.01446, params: {'n_neighbors': 4, 'weights': 'distance', 'algorithm': 'brute'},
 mean: 0.90647, std: 0.01865, params: {'n_neighbors': 5, 'weights': 'uniform', 'algorithm': 'brute'},
 mean: 0.91839, std: 0.01775, params: {'n_neighbors': 5, 'weights': 'distance', 'algorithm': 'brute'}]

In [46]:
knn_grid.best_params_

{'algorithm': 'ball_tree', 'n_neighbors': 4, 'weights': 'distance'}

In [47]:
knn_grid.best_score_

0.9183929692404269

In [53]:
clf_dt = tree.DecisionTreeClassifier(random_state = 10)

In [54]:
dt_splitter = ["best","random"]

In [55]:
dt_criterion = ["gini", "entropy"]

In [56]:
dt_params = {"splitter":dt_splitter, "criterion":dt_criterion}

In [57]:
dt_grid = GridSearchCV(clf_dt, dt_params, cv = 10, scoring = "accuracy")

In [58]:
dt_grid.fit(X, y)

GridSearchCV(cv=10, error_score='raise',
       estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=10,
            splitter='best'),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'splitter': ['best', 'random'], 'criterion': ['gini', 'entropy']},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring='accuracy', verbose=0)

In [59]:
dt_grid.grid_scores_

C:\Users\Aparty\Anaconda2\lib\site-packages\sklearn\model_selection\_search.py:747: DeprecationWarning: The grid_scores_ attribute was deprecated in version 0.18 in favor of the more elaborate cv_results_ attribute. The grid_scores_ attribute will not be available from 0.20
  DeprecationWarning)

[mean: 0.72191, std: 0.03044, params: {'splitter': 'best', 'criterion': 'gini'},
 mean: 0.72003, std: 0.03055, params: {'splitter': 'random', 'criterion': 'gini'},
 mean: 0.77276, std: 0.02938, params: {'splitter': 'best', 'criterion': 'entropy'},
 mean: 0.76208, std: 0.03092, params: {'splitter': 'random', 'criterion': 'entropy'}]

In [60]:
dt_grid.best_params_

{'criterion': 'entropy', 'splitter': 'best'}

In [61]:
dt_grid.best_score_

0.7727558066541117

In [62]:
dt_grid.best_estimator_

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=10,
            splitter='best')

In [63]:
clf_final = KNeighborsClassifier(algorithm = "brute", leaf_size = 30, metric="minkowski",
                               metric_params = None, n_jobs = 1, n_neighbors = 4, p =2,
                               weights = "distance")

In [64]:
clf_final.fit(X_train, y_train)

KNeighborsClassifier(algorithm='brute', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=4, p=2,
           weights='distance')

In [65]:
y_pred = clf_final.predict(X_test)

In [66]:
print(metrics.accuracy_score(y_test, y_pred))

0.925

In [69]:
cm = confusion_matrix(y_test, y_pred)

In [70]:
cm

array([[ 8,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  8,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  7,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  9,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  8,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  8,  0,  0,  0],
       [ 0,  1,  0,  0,  0,  0, 15,  0,  0],
       [ 0,  0,  0,  2,  0,  0,  0,  4,  1],
       [ 0,  1,  0,  0,  0,  1,  0,  0,  7]], dtype=int64)

In [71]:
labels  = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
df_cm = pd.DataFrame(cm, index = [i for i in labels], 
                     columns = [i for i in labels])

plt.figure(figsize = (10, 10))
sns.heatmap(df_cm, annot = True)
plt.xlabel("predicted", fontsize = 20)
plt.ylabel("actual", fontsize = 20)

ValueError: Shape of passed values is (9, 9), indices imply (10, 10)

In [72]:
scr_clf_knn = precision_recall_fscore_support(y_test, y_pred, average = "weighted")

In [74]:
print("classifier's precision: "+str(scr_clf_knn[0]))
print("classifier's recal: "+str(scr_clf_knn[1]))
print("classifier's fbeta_score: "+str(scr_clf_knn[2]))

classifier's precision: 0.934371843434
classifier's recal: 0.925
classifier's fbeta_score: 0.921588345504

In [75]:
X_test.head()

,0,1,2,3,4,5,6,7,8,9,...,246,247,248,249,250,251,252,253,254,255
599,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
787,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
47,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0
1237,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
1069,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [76]:
y_test[:5]

599     0
787     8
47      2
1237    1
1069    6
Name: y, dtype: int64

In [77]:
type(y_test)

pandas.core.series.Series

In [78]:
y_test_df = y_test.to_frame()

In [79]:
y_test_df.head()

      y
599   0
787   8
47    2
1237  1
1069  6

In [80]:
y_test_df["y_pred"] = pd.Series(y_pred, index = y_test_df.index)

In [81]:
y_test_df.head()

      y  y_pred
599   0       0
787   8       8
47    2       2
1237  1       1
1069  6       6

In [82]:
y_test_df.index[y_test_df.y != y_test_df.y_pred]

Int64Index([1519, 149, 1153, 1158, 1562, 568], dtype='int64')

In [83]:
wrong_list = [1519, 149, 1153, 1158, 1562, 568]
y_test_df.ix[wrong_list]

C:\Users\Aparty\Anaconda2\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix

      y  y_pred
1519  7       3
149   6       1
1153  7       8
1158  8       5
1562  8       1
568   7       3

In [86]:
def make_image(index_num):
    one_row = X.ix[index_num]
    one_values = one_row.values
    
    i = 16
    j = 0
    img = np.array(one_values[:16])
    while i <= len(one_values):
        temp_array = np.array(one_values[j:i])
        img = np.vstack((img, temp_array))
        j = 1
        i += 16
        
    plt.imshow(img, cmap = plt.cm.gray_r, interpolation = "nearest")
    plt.show()
    
    print("*-*-*-*-*-*-*-*-*-*")
        
    print(y_test_df.ix[index_num])
    return

In [88]:
make_image(1519)

ValueError: all the input array dimensions except for the concatenation axis must match exactly

In [89]:
make_image(149)

ValueError: all the input array dimensions except for the concatenation axis must match exactly

In [ ]:
make_image(1153)

In [ ]:
make_image(1158)

In [ ]:
make_image(1562)

In [ ]:
make_image(568)

In [ ]:
make_image(599)

In [ ]:
make_image(977)

In [ ]:
make_image(362)